/*
    © 2025 Akeoott. All rights reserved.
*/

/* --- Main Style and variables --- */
:root {
    --background-color: #0d1117;
    --background-color-lowop: rgba(13, 17, 23, 0.3);
    --background-image: url(/images/slanted-gradient.svg);
    --text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
    --text-color: #c9d1d9;
    --link-color: #58a6ff;
}

body {
    min-height: 1500px;
    margin: 0;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}


/* --- General Style --- */
.main-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}
.main-container {
    border-radius: 20px;
    padding: 40px;
    max-width: 60%;
    background-color: var(--background-color-lowop);
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
div.main-container {
    transition: 0.5s;
    position: relative;
    left: 22.5%;
}

h1 {
    color: var(--text-color);
}
p {
    font-size: 1.2em;
}
a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}