/*
    © 2025 Akeoott. All rights reserved.
*/

/* --- Main Style and variables --- */
:root {
    /* Colors */
    --bg-color: #0d1117;
    --bg-color-low-opacity: rgba(13, 17, 23, 0.3);
    --text-color: #c9d1d9;
    --header-color: #ffffff;
    --note-color: rgb(150, 150, 150);
    --link-color: #58a6ff;
    --link-color-bright: #8AC0FF;
    --border-color: #333333;

    /* Typography */
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);

    /* Images */
    --gliter-gif: url(/images/gliter.gif);
    --bg-image: url(/images/slanted-gradient.svg);
}

body {
    /* Layout */
    margin: 0;
    display: flex;
    flex-direction: column;

    /* Background */
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    /* Typography */
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    font-family: var(--font-family);
}
html {
	scroll-behavior: smooth;
}

/* --- General Content Style --- */

/* All links */
a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.a-hidden {
    color: var(--text-color);
    text-decoration: none;
}
.a-hidden:hover {
    text-decoration: none;
}

/* All headings */
h1,
h2 {
    color: var(--header-color);
}

/* paragraphs */
p.margin-bottom-auto {
    margin-bottom: auto;
}

/* Blockquote */
blockquote {
    color: var(--note-color);
    font-size: .9em;
}

/* Horizontal rules */
hr.dashed {
    width: 100%;
    margin: 0;
    border: none;
    border-top: 2px dashed var(--border-color);
}

hr.solid {
    width: 100%;
    margin: 0;
    border: none;
    border-top: 2px solid var(--border-color);
}

/* Images */
img {
    border-radius: 12px;
}

/* --- Helper classes --- */

/* To make seperae elements align as if they arent seperated */
.fill-gap {
    margin-top: -14px;
}
blockquote.fill-gap {
    margin-top: -18px;
}

/* --- Component Specific Styles --- */

/* Main content container */
.main-container {
    position: relative;
    top: 12px;
    margin-bottom: 24px;
    margin-left: 180px;
    margin-right: 12px;
    padding: 40px;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--bg-color-low-opacity);
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

/* Inner content area */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.2;
    overflow-x: hidden;
    word-wrap: break-word;
}

/* Content */
.content-header {
    line-height: 1;
}
.content-header h1 {
    margin-bottom: 10px;
}
.content-header blockquote {
    line-height: 1.2em;
}

section.content {
    margin-top: 20px;
    margin-bottom: 20px;
}
section.content article {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Lists and Tables */
table {
  border-collapse: collapse;
  border: 2px solid var(--border-color);
}
caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}
thead,
tfoot,
tbody {
  background-color: var(--bg-color);
}
th,
td {
  border: 1px solid var(--border-color);
  padding: 8px 10px;
}
tfoot th {
  text-align: center;
}
tfoot td {
  font-weight: bold;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.socials img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.list ul {
    text-align: center;
    display: inline-block;
    text-align: left;
    list-style-type: circle;
    margin-bottom: 20px;
}
.list p {
    margin-bottom: -10px;
}
.list ul ul {
    list-style-type: disc;
}

@media (max-width: 900px) {
    .main-container {
        margin: 0%;
        margin-bottom: 22px;
    }
    .main-content {
        padding: 0%;
    }
}